
/* Custom Styling */
.navbar {
  background-color: #001b2e;
}
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle {
  color: white !important;
}
.navbar-brand {
  font-weight: bold;
  color: white;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: #2575fc;
}

.section {
  padding: 50px 0;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 15px;
}

#box{
    margin-top: 30px;
    margin-bottom:30px;
    /* border: 1px solid rgb(167, 167, 167); */
    background-color: rgb(231, 231, 222);
    height: 550px;
    width: 500px;
    /* margin-left: 450px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 46px;
}
#Google-logintp:hover{
    text-decoration: underline;
}
#fb-logintp:hover{
    text-decoration: underline;
}
#login-box{
    height: 45px;
    width:85%;;
    /* margin: auto; */
    margin: 50px 220px 10px 40px;
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
#Google-logintp{
    text-decoration: none;
    color: #045d7a;
    text-align: center;
    margin-bottom: 30px;
}
#glogo1{
    /* border-radius: 500px; */
    height:45px;
    width:45px;
}
#fb-box{
    height: 45px;
    width:85%;;
        /* margin: auto; */
    margin: 10px 220px 10px 40px;
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
#fb-logintp{
    text-decoration: none;
    /* color:white; */
    color: #045d7a;
    margin-top: 5px;
}
.para{
    margin-left: 46px; 
    font-size: 20px;
    display: flex;
    margin-top: 30px;
    vertical-align:middle;
    gap:1rem;
}
input::grammar-error{
    border-color: #045d7a;
}
input{
    border:0;
    height: 40px;
    width: 420px;
    border-radius: 5px;
    vertical-align:middle;
    font-size: 18px;
    margin-left: 30px;
    /* text-transform: capitalize; */
    background-color: #c9d7db;
}
#psw,
.signup-text:hover{
    text-decoration: underline;
}
#psw{
    text-decoration: none;
    color: #045d7a;
    margin-left: 45px;
}
#btn:hover{
    cursor: pointer;
}
#btn{
    height:38px;
    width:85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 40px;
    margin-top: 10px;
    font-size: 20px;
    gap:10rem;
    background-color: #97CADB;
    border-radius: 5px;
    border:0;
}
#eye-btn{
    display: flex;
    position: absolute;
}
/* i{
    color: #045d7a;
} */
.fa-eye,
.fa-user{
    margin-top: -30px;
    margin-left: 430px;
    position:absolute;
    float: left;
}
.fa-facebook{
    margin-left: 10px;
    color: rgb(5, 57, 170);
}
.fa-eye-slash{
    visibility: hidden;
}
p,a{
    display:inline;
    align-content: center;
    justify-content: center;
    font-size: 19px;
    text-decoration: none ;
    margin-top: 30px;
}
#acc-text{
    margin-left: 70px;
}
.signup-text{
    color: #0591c0 ;
    text-decoration: none;
}
