/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  .navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle {
  color: white !important;
}
.navbar {
  background-color: #001b2e;
}
.navbar-brand {
  font-weight: bold;
  color: white;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: #2575fc;
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
}
.section {
  padding: 50px 0;
}
  .offering-history {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #333;
  }
  #title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 550px;

  }
  .yearly-summary, .donation-history {
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }